
main {
    background: rgb(252, 186, 100);
    min-height: 100vh;
    width: 50vw;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

.logo {
    background:rgb(233, 118, 118);
    height: 100px;
    width: 100px;
}