
header {
    position: fixed;
    top: 0;
    width: 70%;
    text-align: center;
    padding: 20px 0px;
    font-size: 20px;
    background: rgb(241, 193, 89);

}

@media screen and (max-width: 600px) {
    header {
        width: 100%;
    }
}