
#layout {
    /* border: 2px solid firebrick; */
    width: 70%;
    min-height: 100vh;
    margin: auto;
}

#body {
    margin-top: 60px;
    border: 2px solid blueviolet;
    min-height: 100vh;
    top: 0;
    width: 100%;
}


@media screen and (max-width: 600px) {

    #layout { 
        /* border: 2px solid rgb(186, 253, 0); */
        width: 100%;
        left: 0;
    }
    


}