
#nav-comp {
    position: fixed;
    bottom: 0;
    width: 70%;
    background: rgb(211, 142, 51);
}


nav {
    border: 2px solid navy;
}

ul {
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: space-evenly;
    height: 50px;
}

li {
    list-style-type: none;
    font-size: 18px;
    border: 2px solid rgb(33, 0, 247);
    display: flex;
    align-items: center;
    padding: 0px 5px;
}

li:hover {
    background: white;
}

li img {
    width: 30px;
    height: 30px;
}



@media screen and (max-width: 600px) {
 
    #nav-comp {
        width: 100%;
    }


    li {
        font-size: 18px;
        padding: 15px;
    }
}