
#nav-comp {
    position: fixed;
    bottom: 0;
    width: 60%;
    background: rgb(211, 142, 51);
}


nav {
    border: 2px solid navy;
}

ul {
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: space-evenly;
}

li {
    list-style-type: none;
    font-size: 18px;
    border: 2px solid rgb(33, 0, 247);
    padding: 20px;
}