
#temaplte-page {
    margin: 5px;
    margin-top: 10px;
}

#main-categorie {
    border: 2px tomato solid;
    margin: 3px;
    margin-bottom: 7px;
    background: tomato;
    border-radius: 3px;
    text-align: center;
}

#main-categorie p {
    font-size: 18px;
}

#sub-categorie {
    margin: 5px;
    margin-top: 10px;
}

#tempalets {
    border: 2px springgreen solid;
    display: grid;
    grid-template-columns: repeat(2, minmax(50%, 300px));
    gap: 3px;
    margin: 3px;
    margin-top: 5px;
}

#template-div {
    border: 1px solid sandybrown;
    width: 100%;
}

#template-img {
    width: 100%;
    height: auto;

}

@media screen and (max-width: 600px) {


    
    #template-img {
        width: 100%;
        height: 100px;

    }   

}