
body {
    padding: 0;
    margin: 0;
    background: grey;
}

#loading-comp {
    margin: 30px 20px;
    border-radius: 20px;    
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#loading {
    border: 5px solid white; 
    border-top: 5px solid #000000; 
    border-radius: 50%;
    width: 20px;
    height: 20px;
    animation: spin 1s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}
