

#meme {
    position: fixed;
    z-index: 10;
    width: 100%;
    height: 100%;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    background-color: rgba(0, 0, 0, 0.973);
}

#inner {
    border: 5px solid seagreen;
    border-radius: 5px;
    padding: 5px;
    position: absolute;
    left: 20%;
    top: 5%;
    width: 60%;
    min-height: 50%;
    max-height: 90%;
    background: rgb(160, 160, 160);
    display: flex;
    flex-direction: column;
}

#close-btn {
    width: 100px;
    padding: 10px;
    right: 0;
}

#popImg {
    width: auto;
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#download-btn { 
    padding: 10px;
    width: 200px;
}

#download-btn a {
    text-decoration: none;
    color: black;
}


#meme-img { 
    width: 400px;
    height: 320px;
}


@media screen and (max-width: 600px) {

    #meme {
    
    }

    #inner {
        border: 1px solid brown;
        left: 0;
        top: 15px;
        width: 90vw;
        min-height: 90vh;
        background: black;
        align-items: center;
        justify-content: center;
    }

    #popImg {
        width: 300px;
        height: 320px;
    }
    


    #meme-img {
        width: 100%;
        height: auto;
        border: 2px solid forestgreen;
    }

}