

#meme {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    background-color: rgba(0, 0, 0, 0.973);
}

#inner {
    position: absolute;
    left: 20%;
    top: 10%;
    width: 60%;
    background: white;
}

#popImg {
    width: 400px;
    height: 300px;
}